
#container {
    text-align: center;
  
    position: absolute;
    left: 0;
    right: 0;
    top: 50%;
    transform: translateY(-50%);
  }
  
  #container strong {
    font-size: 20px;
    line-height: 26px;
  }
  
  #container p {
    font-size: 16px;
    line-height: 22px;
    margin: 0;
  }
  
  #container a {
    text-decoration: none;
  }
  #icono1{
    width: 400px;
    height: 300px;
    display: block; /* Asegura que la imagen se muestre como bloque */
    margin: auto; /* Establece el margen izquierdo y derecho como automáticos */
    margin-top: -230px;
    margin-bottom: -50px;
  }
  @keyframes moverArribaAbajo {
    0% {
      transform: translateY(0); /* La imagen comienza en su posición original */
    }
    50% {
      transform: translateY(-10px); /* La imagen se mueve hacia arriba */
    }
    100% {
      transform: translateY(0); /* La imagen regresa a su posición original */
    }
  }
  
  /* Aplicar la animación a la imagen */
  #icono0 {
    width: 100px;
    height: 100px;
    margin-top: 50px;
    animation: moverArribaAbajo 1s infinite; /* La animación se repite continuamente */
  }
   img {
    display: inline-block;
  }
  
  /* Establecer un margen entre las imágenes para separarlas */
   img + img {
    margin-left: 10px;
  }
  
